@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    font-family: Roboto;
}

body {
    color: white;
    background-image: url("../img/space2.jpg");
    background-size: cover;
}

h1 {
    -webkit-text-stroke: .8px #FFE81F;
    color: transparent;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.content {
    padding: 1rem;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid #FFE91F86;
    border-radius: 15px;
    margin: 2rem .5rem;
}
.newpages{
    display: flex;
    justify-content: center;
    width: 100%;
}
.newpages #Buttonload{
    width: 80vw;
    padding: .8rem;
    border-radius: 25px;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid #FFE91F86;
    color: #FFE81F;
    cursor: pointer;
}
.ulcharacter {
    display: grid;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 2rem auto;
    }

}

@media screen and (min-width: 436px) {
    .ulcharacter {
        grid-template-columns: 1fr 1fr;
    }
    .newpages #Buttonload{
        width: 70vw;
    }
}

@media screen and (min-width: 576px) {
    .ulcharacter {
        grid-template-columns: 1fr 1fr 1fr;

    }
    .newpages #Buttonload{
        width: 60vw;
    }
}

@media screen and (min-width: 992px) {
    .ulcharacter {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    .newpages #Buttonload{
        width: 30vw;
    }
}